:root {
  --nord0:  #2e3440;
  --nord1:  #3b4252;
  --nord2:  #434c5e;
  --nord3:  #4c566a;
  --nord4:  #d8dee9;
  --nord5:  #e5e9f0;
  --nord6:  #eceff4;
  --nord7:  #8fbcbb;
  --nord8:  #88c0d0;
  --nord9:  #81a1c1;
  --nord10: #5e81ac;
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;
  --brown: #987654;
  --gold: #BF720D;
  --gray: #525352;
  --dark-red: #800500;
  --border: calc((1vh + 1vw)/2)
}

* {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }


html, body {
  margin: 0px;
  background-color: var(--nord3);
}

/* 
The width, height, and margin are calculated
so that the <div> will always be centered, 
adhere to a 4:3 aspect ratio, and be as 
large as possible.
*/
.Level {
  border-style: solid;
  border-color: var(--nord0);
  background-color: var(--nord7);
}

.Character {
  box-sizing: border-box;
  background-color: var(--nord11);
  position: absolute;
  border-style: solid;
  border-color: var(--nord0);
}

.Container {
  box-sizing: border-box;
  border-color: var(--nord0);
  border-style: solid;
  position: absolute;
}

.gray {
  background-color: var(--nord5);
  border-color: var(--nord3);
}

.blue {
  background-color: var(--nord9);
  border-color: var(--nord10);
}

.Opening {
  background-color: var(--nord1);
  position: absolute;
}

.Item {
  position: absolute;
  box-sizing: border-box;
}

.exit {
  background-color: var(--nord1);
  border-top: var(--nord3) solid;
  border-right: var(--nord3) solid;
  border-left: var(--nord3) solid;
}

.collectible {
  background-color: var(--nord13);
  border-radius: 50%;
  border: var(--gold) solid;
}

.box {
  background-color: var(--nord7);
  border: var(--nord3) solid;
}

.plate {
  background-color: var(--nord12);
}

.switch {
  /*
  the following attributes are testing attributes
  */
  background-color: var(--nord11);
  border-radius: 50%;
}

.base {
  background-color: var(--nord3);
}