/*
This CSS file contains most of the styling of the game components.
The only styling that is not included is sizing; this is calculated
within the game itself, based on the window size.
*/

/* 
The width, height, and margin are calculated
so that the <div> will always be centered, 
adhere to a 4:3 aspect ratio, and be as 
large as possible.
*/
.Level {
  border-style: solid;
  border-color: var(--nord0);
  background-color: var(--nord7);
}

/*
pointer-events: none prevent this nasty bug where mousing
over components within the Containers would result in
the Container moving to odd places. All components within
containers have pointer-events: none
*/
.Character {
  pointer-events: none;
  box-sizing: border-box;
  background-color: var(--nord11);
  position: absolute;
  border-style: solid;
  border-color: var(--nord0);
}

.Container {
  box-sizing: border-box;
  border-style: solid;
  position: absolute;
}

.Opening {
  pointer-events: none;
  background-color: var(--nord1);
  position: absolute;
}

.Item {
  pointer-events: none;
  position: absolute;
  box-sizing: border-box;
}

.exit {
  background-color: var(--nord1);
  border-top: var(--nord3) solid;
  border-right: var(--nord3) solid;
  border-left: var(--nord3) solid;
}

.collectible {
  background-color: var(--nord13);
  border-radius: 50%;
  border: var(--gold) solid;
}

.box {
  background-color: var(--nord7);
  border: var(--nord3) solid;
}

.plate {
  border-style: solid;
  z-index: 100;
  /* 
  An arbitrary number to ensure that plates are never hidden behind
  the character or a box.
  */
}

.switch {
  border-style: solid;
}

.base {
  background-color: var(--nord3);
}

.Platform {
  pointer-events: none;
  position: absolute;
  box-sizing: border-box;
  border-style: solid;
}
