/*
Global CSS file, for anything that may be used by both Game and Menu
components.
*/
:root {
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;
  --brown: #987654;
  --gold: #bf720d;
  --gray: #525352;
  --nord12-mod: #e49b85;
  --dark-red: #800500;
  --dark-purple: rgb(161, 67, 161);
  --dark-orange: #c06803;
  --border: calc((1vh + 1vw) / 2);
}

* {
  user-select: none;
  -webkit-user-select: none;
  /*
  Although these have the same effect in other browsers,
  this game is only intended to be used in the native
  Electron.js Chromium browser.
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  */
  color: var(--nord0);
  font-family: monospace;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 0.75vw;
}

::-webkit-scrollbar-thumb {
  background-color: var(--nord0);
}
/*
::-webkit-scrollbar-button {
  background-color: var(--);
}*/

html,
body {
  margin: 0px;
  overflow: hidden;
  background-color: var(--nord3);
}

.standard-border {
  border-width: var(--border);
  border-style: solid;
  border-radius: var(--border);
}

.div-hover {
  transition: filter 0.25s;
}

.div-hover:hover {
  filter: brightness(0.9);
}

.gray {
  background-color: var(--nord5);
  border-color: var(--nord3);
}

.blue {
  background-color: var(--nord9);
  border-color: var(--nord10);
}

.red {
  background-color: var(--nord11);
  border-color: var(--dark-red);
}

.purple {
  background-color: var(--nord15);
  border-color: var(--dark-purple);
}

.orange {
  background-color: var(--nord12-mod);
  border-color: var(--dark-orange);
}
